@font-face {
  font-family: pWeekendsSans;
  font-weight: 100;
  src: url(./twoweekendssans-regular.woff);
}

body {
  background-color: white;
  background-image: url('./img/bg_home.jpg');
  background-position: top;
  font-size: 18px;
  font-family: pWeekendsSans;
  margin: 0;
}

small {
  font-size: 8px;
}

hr {
  border-width: 5px 0 0 0;
  border-style: dotted;
  border-color: #fb95db;
}

fieldset {
  padding-left: 15px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #fb95db;
  background-color: #ffb7ec;
}

legend {
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #fb95db;
  background-color: #ffb7ec;
  outline-offset: 3px;
  outline-width: 5px;
  outline-style: double;
  outline-color: #fb95db;
}

input {
  background-image: url('./img/comfy.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 15px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #fb95db;
  background-color: #ffb7ec;
  color: black;
  width: 50%;
}

input:focus {
  background-color: #efc5e3;
  color: black;
  outline-offset: 1px;
  outline-width: 5px;
  outline-style: double;
  outline-color: #fb95db;
}

input[type=submit] {
  background-image: url('./img/bj.gif');
  width: 15%;
}

#container img {
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #fb95db;
  outline-offset: 5px;
  outline-width: 5px;
  outline-style: double;
  outline-color: #fb95db;
  width: -webkit-fill-available;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#container {
  margin: 3em auto;
  width: 90%;
  max-width: 700px;
  background-color: #fbceed;
  color: #752a49;
  outline-offset: 5px;
  outline-width: 5px;
  outline-style: double;
  outline-color: #fb95db;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #fb95db;
}

#header {
  background-color: #e3e7fd;
  padding: 0 5%;
  border-color: #fb95db;
  border-style: dashed;
  border-width: 3px;
  border-radius: 5px;
  background-clip: padding-box;
}

#content {
  padding: 10px 5% 20px 5%;
}

#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#header li a {
  color: #5870c8;
  font-weight: bold;
  text-decoration: none;
}

#header li a::before {
  content: "\1F338";
}

.formdiv {
  display: grid;
}
